<nav xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <ul>
            <li><strong><a href="/" style="text-decoration: none;">Управление компаниями</a></strong></li>
        </ul>
        <ul>
            <li><a href="/">Главная</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/companies/add">Добавить компанию</a></li>
            <li sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')"><a href="/employees/add">Добавить сотрудника</a></li>
            <li><a href="/companies/all">Компании</a></li>
            <li><a href="/employees/all">Сотрудники</a></li>
            <li sec:authorize="isAuthenticated()">
                <a href="/users/profile" role="button" class="secondary outline">
                    <th:block sec:authentication="name"></th:block>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:method="post" th:action="@{/users/logout}" style="margin: 0;">
                    <button type="submit" class="contrast outline">Выйти</button>
                </form>
            </li>
            <li sec:authorize="!isAuthenticated()"><a href="/users/register" role="button">Регистрация</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/users/login" role="button" class="secondary">Вход</a></li>
        </ul>
    </div>
</nav>
